{% extends "basePOS.html" %}
{% block title %}BevRecs | Inventory {% endblock%}

{% block content %}

    <section class="section menu mt-0">
      <!-- Nav for categories -->
      <div class="row">
        <div class="menu-grid">
          <h4>Choose Category</h4>
          <ul class="nav nav-pills">
            {% for categories in menuCategory %}
            <li class="nav-item">
              <a class="nav-link d-block" data-bs-toggle="pill" href="#{{categories.name|slugify}}">
                <i class='bx bxs-coffee-alt justify-content-center my-auto d-flex'></i>
                <p class="text-center">{{categories.name}}</p>
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="tab-content mt-4">
        {% for category in menuCategory %}
        <!-- Coffee or Category 1 pane -->
        <div class="tab-pane container{% if forloop.first %} active{% endif %} fs-5" id="{{ category.name|slugify }}">
          <div class="d-flex justify-content-between mb-2">
            <h5 class="categories">{{ category.name }}</h5>
          </div>

          <!-- menu items div display each category -->
          <div class="tab-content rounded">
            <div class="tab-pane container active py-2" id="{{ category.name }}">
              <div class="row g-1">
                {% for row in menuDrinks %}

                {% if row.menucategory == category %}
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                  <div class="card" style="height: 200px;">
                    <img src="{{ row.menuimage.url}}" class="card-img-top" alt="..."  style="margin-bottom:0; width: 100%; height: 120px; object-fit: cover; ">
                    <div class="card-body">
                      <h5 class="card-title  p-0 m-0 fs-6 text-nowrap">{{ row.menuname }}</h5>
                      <div class="d-flex justify-content-between my-auto">
                        <p class="card-text my-auto d-flex fs-6"><strong> &#8369; {{ row.menuprice }}</strong></p>
                        <a class="btn d-flex my-auto border-0" data-bs-toggle="offcanvas"
                        href="#menuinformation-{{ row.id }}" role="button" aria-controls="menuinformation-{{ row.id }}">
                        <i class='bx bxs-info-circle' style="font-size: 20px;  color: #FF862F;"></i>
                      </a>
                      </div>
                      
                      

                      <!-- off-canvas display menu Info -->
                      <div class="offcanvas menu_info offcanvas-end" tabindex="-1" id="menuinformation-{{ row.id }}"
                        aria-labelledby="menuinformation-{{ row.id }}">
                        <div class="offcanvas-header">
                          <button type="button" class="btn border-0">
                            <a type="button" class="cart-btn" href="{% url 'pos:cart'%}">
                              <i class='bx bx-cart' style="font-size: 28px; color: #FF862F"></i>
                            </a>
                          </button>
                          <button type="button" class="btn-close btn-sm text-reset" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                        </div>
                        <div class="form-container" style="height: 600px;">

                          <form id="itemForm" action="{% url 'pos:buyitemdrinks' %}" method="post"
                            enctype="multipart/form-data">
                            {% csrf_token %}

                            <div class="imageholder justify-content-center">
                              <img name="{{ buyitemform.butImage.name }}"
                                src="{{ row.menuimage.url }}" style="margin-bottom:0; width: 100%; height: 200px; object-fit: cover;" alt="menupic">
                            </div>

                          <div class="row">
                            <div class="menu_name_price p-2">
                              <div class="d-flex justify-content-between">
                                <input type="text" name="{{ buyitemform.buyName.html_name }}" value="{{ row.menuname }}"
                                  readonly class="menu_name"
                                  style="color:#FF862F; padding-left:20px; font-weight: bold; border: none; background-color: transparent; outline: none; cursor: default;">
                                <input type="number" name="{{ buyitemform.buyPrice.html_name }}"
                                  value="{{ row.menuprice }}" readonly class="price"
                                  style="border: none; background-color: transparent; outline: none; cursor: default;">
                              </div>
                            </div>
                          </div>
                            
                        <div class="row">
                            <label for="{{ buyitemform.buySize.id_for_label }}" class="mx-4 fw-light">Size</label>
                            <div class="col-3" style="margin-left: 30px; border: none !important;">
                            {{ buyitemform.buySize }}
                            </div>
                          <div class="col-6 ">
                            <input class="text-end border-0" name="{{ buyitemform.priceSize.name }}" type="number" id="priceField" readonly>
                          </div>
                        </div>
                      

                            <div class="addons-option-div">
                              <div class="d-block add-on-option mt-2 mx-4">
                                <h6 class="sizetxt fw-light">Add Ons</h6>
                                <div class="d-block">

                                  <!-- <div class="form-check d-flex justify-content-between">
                                    <div>
                                      <label class="form-check-label fw-bold">NAME</label>
                                    </div>
                                    <p class="ingredient_quantity">MEASUREMENTS</p>
                                    <div>
                                      <h6 class="priceAddOns">PRICE</h6>
                                    </div>
                                  </div> -->

                                  {% if row.addons1 %}
                                  <div class="form-check d-flex justify-content-between">
                                    <div>
                                      <label for="check1">{{ row.addons1 }}</label>
                                      <input class="form-check-input" name="{{ buyitemform.buyAddOns1.html_name }}" type="checkbox" id="check1" value="{{ row.addons1 }}" onclick="selectAllCheckboxes('check1', 'check2', 'check3', this)">
                                    </div>

                                    <!-- <div>
                                      <label for="check2">{{ row.quantityAO1 }}</label>
                                      <input style="display: none;" class="form-check-input" name="{{ buyitemform.buyQuantityAO1.html_name }}" type="checkbox" id="check2" value="{{ row.quantityAO1 }}" onclick="selectAllCheckboxes('check1', 'check2', 'check3', this)">
                                    </div> -->
                                    <div>
                                      <label for="check3">{{ row.menuAOPrice1 }}</label>
                                      <input style="display: none;" class="form-check-input" name="{{ buyitemform.menuAOPrice1.html_name }}" type="checkbox" id="check3" value="{{ row.menuAOPrice1 }}" onclick="selectAllCheckboxes('check1', 'check2', 'check3', this)">  
                                    </div>
                                  </div>
                                  {% endif %}
                                  
                                  {% if row.addons2 %}
                                  <div class="form-check d-flex justify-content-between">
                                    <div>
                                      <label for="check4">{{ row.addons2 }}</label>
                                      <input class="form-check-input" name="{{ buyitemform.buyAddOns2.html_name }}" type="checkbox" id="check4" value="{{ row.addons2 }}" onclick="selectAllCheckboxes('check4', 'check5', 'check6', this)">
                                    </div>
                                    <!-- <div>
                                      <label for="check5">{{ row.quantityAO2 }}</label>
                                      <input style="display: none;" class="form-check-input" name="{{ buyitemform.buyQuantityAO2.html_name }}" type="checkbox" id="check5" value="{{ row.quantityAO2 }}" onclick="selectAllCheckboxes('check4', 'check5', 'check6', this)">
                                    </div> -->
                                    <div>
                                      <label for="check6">{{ row.menuAOPrice2 }}</label>
                                      <input style="display: none;" class="form-check-input" name="{{ buyitemform.menuAOPrice2.html_name }}" type="checkbox" id="check6" value="{{ row.menuAOPrice2 }}" onclick="selectAllCheckboxes('check4', 'check5', 'check6', this)">  
                                    </div>
                                  </div>
                                  {% endif %}
                                  
                                  {% if row.addons3 %}
                                  <div class="form-check d-flex justify-content-between">
                                    <div>
                                      <label for="check7">{{ row.addons3 }}</label>
                                      <input class="form-check-input" name="{{ buyitemform.buyAddOns3.html_name }}" type="checkbox" id="check7" value="{{ row.addons3 }}" onclick="selectAllCheckboxes('check7', 'check8', 'check9', this)">
                                    </div>
                                    <!-- <div>
                                      <label for="check8">{{ row.quantityAO3 }}</label>
                                      <input style="display: none;" class="form-check-input" name="{{ buyitemform.buyQuantityAO3.html_name }}" type="checkbox" id="check8" value="{{ row.quantityAO3 }}" onclick="selectAllCheckboxes('check7', 'check8', 'check9', this)">
                                    </div> -->
                                    <div>
                                      <label for="check9">{{ row.menuAOPrice3 }}</label>
                                      <input style="display: none;" class="form-check-input" name="{{ buyitemform.menuAOPrice3.html_name }}" type="checkbox" id="check9" value="{{ row.menuAOPrice3 }}" onclick="selectAllCheckboxes('check7', 'check8', 'check9', this)">  
                                    </div>
                                  </div>
                                  {% endif %}
                                  
                                  {% if row.addons4 %}
                                  <div class="form-check d-flex justify-content-between">
                                    <div>
                                      <label for="check10">{{ row.addons4 }}</label>
                                      <input class="form-check-input" name="{{ buyitemform.buyAddOns4.html_name }}" type="checkbox" id="check10" value="{{ row.addons4 }}" onclick="selectAllCheckboxes('check10', 'check11', 'check12', this)">
                                    </div>
                                    <!-- <div>
                                      <label for="check11">{{ row.quantityAO4 }}</label>
                                      <input style="display: none;" class="form-check-input" name="{{ buyitemform.buyQuantityAO4.html_name }}" type="checkbox" id="check11" value="{{ row.quantityAO4 }}" onclick="selectAllCheckboxes('check10', 'check11', 'check12', this)">
                                    </div> -->
                                    <div>
                                      <label for="check12">{{ row.menuAOPrice4 }}</label>
                                      <input style="display: none;" class="form-check-input" name="{{ buyitemform.menuAOPrice4.html_name }}" type="checkbox" id="check12" value="{{ row.menuAOPrice4 }}" onclick="selectAllCheckboxes('check10', 'check11', 'check12', this)">  
                                    </div>
                                  </div>
                                  {% endif %}
                                  
                                  {% if row.addons5 %}
                                  <div class="form-check d-flex justify-content-between">
                                    <div>
                                      <label for="check13">{{ row.addons5 }}</label>
                                      <input class="form-check-input" name="{{ buyitemform.buyAddOns5.html_name }}" type="checkbox" id="check13" value="{{ row.addons5 }}" onclick="selectAllCheckboxes('check13', 'check14', 'check15', this)">
                                    </div>
                                    <!-- <div>
                                      <label for="check14">{{ row.quantityAO5 }}</label>
                                      <input style="display: none;" class="form-check-input" name="{{ buyitemform.buyQuantityAO5.html_name }}" type="checkbox" id="check14" value="{{ row.quantityAO5 }}" onclick="selectAllCheckboxes('check13', 'check14', 'check15', this)">
                                    </div> -->
                                    <div>
                                      <label for="check15">{{ row.menuAOPrice5 }}</label>
                                      <input style="display: none;" class="form-check-input" name="{{ buyitemform.menuAOPrice5.html_name }}" type="checkbox" id="check15" value="{{ row.menuAOPrice5 }}" onclick="selectAllCheckboxes('check13', 'check14', 'check15', this)">  
                                    </div>
                                  </div>
                                  {% endif %}
                                  
                                </div>
                              </div>
                            </div>



                            <div class="row justify-content-center mt-2 mx-4">
                              <div class="col-12">
                                <h6 class="sizetxt fw-light">Quantity</h6>
                                <div class="input-group">
                                  <button class="btn btn-secondary" type="button" id="decrementBtn">-</button>
                                  <input name="{{ buyitemform.buyQuantityMenu.name }}" type="number"
                                    class="form-control" id="numberInput" value="1">
                                  <button class="btn btn-secondary" type="button" id="incrementBtn">+</button>
                                </div>
                              </div>
                            </div>

<!-- 

                            <div class="ingredient_list mt-2 mx-4">
                              <h6 class="sizetxt fw-light">Ingredients</h6>
                              <div class="d-flex">
                                <div>
                                  <p class="ingredient_name px-3">NAME</p>
                                  <p class="ingredient_quantity px-2">MEASUREMENTS</p>
                                </div>
                                <div>
                                  {% if row.ingredient1 %}
                                  <input type="text" name="{{ buyitemform.buyingredient1.name }}"
                                    class="ingredient_name px-3" value="{{row.ingredient1}}" readonly>
                                  {% endif %}
                                  {% if row.quantityIng1 %}
                                  <input type="text" name="{{ buyitemform.buyQuantityIng1.name }}"
                                    class="ingredient_quantity px-2" value="{{row.quantityIng1}}" readonly>
                                  {% endif %}

                                  {% if row.ingredient2 %}
                                  <input type="text" name="{{ buyitemform.buyingredient2.name }}"
                                    class="ingredient_name px-3" value="{{row.ingredient2}}" readonly>
                                  {% endif %}
                                  {% if row.quantityIng2 %}
                                  <input type="text" name="{{ buyitemform.buyQuantityIng2.name }}"
                                    class="ingredient_quantity px-2" value="{{row.quantityIng2}}" readonly>
                                  {% endif %}

                                  {% if row.ingredient3 %}
                                  <input type="text" name="{{ buyitemform.buyingredient3.name }}"
                                    class="ingredient_name px-3" value="{{row.ingredient3}}" readonly>
                                  {% endif %}
                                  {% if row.quantityIng3 %}
                                  <input type="text" name="{{ buyitemform.buyQuantityIng3.name }}"
                                    class="ingredient_quantity px-2" value="{{row.quantityIng3}}" readonly>
                                  {% endif %}

                                  {% if row.ingredient4 %}
                                  <input type="text" name="{{ buyitemform.buyingredient4.name }}"
                                    class="ingredient_name px-3" value="{{row.ingredient4}}" readonly>
                                  {% endif %}
                                  {% if row.quantityIng4 %}
                                  <input type="text" name="{{ buyitemform.buyQuantityIng4.name }}"
                                    class="ingredient_quantity px-2" value="{{row.quantityIng4}}" readonly>
                                  {% endif %}

                                  {% if row.ingredient5 %}
                                  <input type="text" name="{{ buyitemform.buyingredient5.name }}"
                                    class="ingredient_name px-3" value="{{row.ingredient5}}" readonly>
                                  {% endif %}
                                  {% if row.quantityIng5 %}
                                  <input type="text" name="{{ buyitemform.buyQuantityIng5.name }}"
                                    class="ingredient_quantity px-2" value="{{row.quantityIng5}}" readonly>
                                  {% endif %}
                                </div>
                              </div>

                           
                            </div> -->
                               <div class="text-center col-12 d-grid mt-2 px-4">
                                <button type="submit" class="btn btn-primary add-to-cart-btn">Add to Cart</button>
                              </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>
  
{% endblock content %}
