
{% extends "base.html" %}
{% block title %} Dashboard {% endblock%}

{% block content %}

<div class="pagetitle">
  <h1>Dashboard</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active">Dashboard</li>
    </ol>
  </nav>
</div><!-- End Page Title -->


<section class="section dashboard">
  <div class="row">
    <!-- Left side columns -->
    <div class="col-lg-12 mb-2">
      <div class="row">
        <!-- Sales Card -->
        <div class="col-xxl-4 col-md-4">
          <div class="card info-card sales-card">
            <div class="card-body">
              <h5 class="card-title text-center">Menu</h5>
              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  <i class='bx bx-drink'></i>
                </div>
                <div class="ps-3">
                  <h6>{{ menucategory.count }}</h6>
                  <span class=" small pt-1 fw-bold">{{ menucategory.count }}</span> <span
                    class="text-muted small pt-2 ps-1">categories</span>
                </div>
              </div>
            </div>

          </div>
        </div><!-- End Sales Card -->
       

        <!-- Sales Card -->
        <div class="col-xxl-4 col-md-4">
          <div class="card info-card sales-card">
           
            <div class="card-body">
              <h5 class="card-title text-center">Sales</h5>

              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  <i class='bx bx-cart-alt'></i>
                </div>
                <div class="ps-3">
                  <h6>{{ total_buy_names }}</h6>
                  <span class="small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>
                </div>
              </div>
          </div>
          </div>
        </div><!-- End Sales Card -->

        <!-- Sales Card -->
        <div class="col-xxl-4 col-md-4">
          <div class="card info-card sales-card">
            <div class="card-body">
              <h5 class="card-title text-center">Revenue</h5>
              <div class="d-flex align-items-center">
                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                  <i class='bx bx-money-withdraw'></i>
                </div>
                <div class="ps-3">{{ row.menuprice1|floatformat:2 }}
                  <h6>₱{{ total_all_payment|floatformat:2 }}</h6>
                  <span class="small pt-1 fw-bold">14%</span> <span
                    class="text-muted small pt-2 ps-1">increase</span>
                </div>
              </div>
            </div>
          </div>
        <!-- End Sales Card -->


          <!-- Top Selling -->
        
          
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="card top-selling overflow-auto">
          

            <div class="card-body pb-0">
              <h5 class="card-title">Top Selling</h5>

              <table class="table table-borderless">
                <thead>
                  <tr>
                    <th scope="col">Beverage</th>
                    <th scope="col">Price</th>
                    <th scope="col">Sold</th>
                    <th scope="col">TOTAL</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><a href="#" class="top-selling-menu fw-bold text-decoration-none">Coffee Latte</a></td>
                    <td>50</td>
                    <td class="fw-bold">124</td>
                    <td>5,828</td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div><!-- End Top Selling -->

      </div>
    </div>
  </div>
</div>
</div>
</section>

{%endblock content %}