{% extends "base.html" %}
{% block title %} Dashboard {% endblock%}

{% block content %}


<main id="main" class="main">
  <section class="section menu rounded">
    <!-- Nav for categories -->
    <div class="row mb-2 mt-4 mx-1">
      <div class="col-6">
        <div class="container my-auto">
          <h4 style="font-weight: bold;">Choose Category</h4>
        </div>
      </div>

      <div class="col-5">
        <div class="search-bar m-auto">
          <form class="search-form d-flex align-items-center">
            <input type="text" name="query" id="searchInput" placeholder="Search menu..." title="Enter search keyword">
            <button type="submit" title="Search"><i class="fa fa-search"></i></button>
          </form>
        </div> 
      </div>
 
      <div class="col-1">
        <a type="button" class="cart-btn text-decoration-none p-2 " style="padding-bottom:4px; border-radius: 10px; color: white;" href="{% url 'pos:cart' %}">
          <i class='bx bx-cart fs-3' style="color: #FF6000;"></i>
      </a>
      </div> 
    
    </div>

    <div class="row mb-2 mx-1 rounded category-tab-div">
      <div class="col-12 py-2 category-tab">
        <ul class="nav nav-pills">

          <!-- para sana sa lahat, like ito ung default didisplay niya lahat ng menu -->
      
          <li class="nav-item mx-2">
            <a class="nav-link active" data-bs-toggle="pill" href="#{{ category.name|slugify }}" onclick="showAllMenus()">
              All
            </a>
          </li>
          {% for category in menuCategory %}  
          <li class="nav-item  mx-2">
            <a class="nav-link" data-bs-toggle="pill" href="#{{ category.name|slugify }}">
              {{ category.name }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    
    <div class="container my-auto mx-3 mt-3 mb-0">
      <h4 style="font-weight: bold;">Select Menu</h4>
    </div>

    <div class="tab-content">

      {% for category in menuCategory %}
     
      <!-- Coffee or Category 1 pane -->
      <div class="tab-pane container{% if forloop.first %} active{% endif %} fs-5" id="{{ category.name|slugify }}">
        <!-- menu items div display each category -->
        <div class="tab-content rounded">
          <div class="tab-pane container active py-2" id="{{ category.name }}">
            <div class="row row-cols-5 g-2">
              {% for row in menuDrinks %}
              {% if row.menucategory == category %}
              <div class="col card-menu">

                <a data-bs-toggle="offcanvas" href="#menuinformation-{{ row.id }}" role="button" aria-controls="menuinformation-{{ row.id }}">
                <div class="card rounded">
                  <div class="circle-with-i">
                    <i class="fas fa-info-circle" ></i>
                        {% if row.question1 %}
                        <span class="tooltip">1. High sugar content. Consuming excessive sugar can contribute to health issues like weight gain and increased risk of diabetes. Choose low-sugar options when possible.</span>
                        {% endif %}
                        {% if row.question2 %}
                        <span class="tooltip">2. Tooltip text for question 2</span>
                        {% endif %}
                        {% if row.question3 %}
                        <span class="tooltip">3. Tooltip text for question 3</span>
                        {% endif %}
                        {% if row.question4 %}
                        <span class="tooltip">4. Tooltip text for question 4</span>
                        {% endif %}
                    </div>
                  <img src="{{ row.menuimage.url }}" class="card-img-top" alt="..."  style="height: 150px; width:100%; object-fit:cover; ">
                  <div class="card-body mx-1 p-0" >
                    <h5 class="card-title fs-6 text-nowrap p-2 pb-0 mb-0 ">{{ row.menuname }}</h5>
                      <div class="d-flex">
                      <p class="card-text m-0 p-2 fs-6" style="color: #FF6000;"> <strong>&#8369; {{ row.menuprice1 }}</strong></p>
                    </div>

                   
                  </div>
                </div>

              </a>
              
              </div>
               <!-- off-canvas display menu Info -->
               <div class="offcanvas offcanvas-end" tabindex="-1" id="menuinformation-{{ row.id }}"
               aria-labelledby="menuinformation-{{ row.id }}">
               <div class="offcanvas-header">
                 <!-- <button type="button" class="btn btn-primary ">
                   <a type="button" class="cart-btn text-decoration-none text-white"
                     href="{% url 'pos:cart'%}">
                     Cart(0)
                   </a>
                 </button> -->
                 <h5 class="offcanvas-title">Menu Information</h5>
                 <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                   aria-label="Close"></button>
               </div>
               <div class="form-container">
                 <form id="itemForm" action="{% url 'pos:buyitemdrinks' %}" method="post"
                   enctype="multipart/form-data" onsubmit="return submitForm();">
                   {% csrf_token %}

                      <div class="row">

                        <div class="col-4">
                          <div class="imageholder justify-content-center">
                            <img name="{{ buyitemform.butImage.name }}"
                              src="{{ row.menuimage.url }}" alt="menupic">
                          </div>
                        </div>

                        <div class="col-6">
                          <div class="menu_name_price">
                            <div class="row">
                              <div class="d-flex justify-content-between">
                                <input type="text" name="{{ buyitemform.buyName.html_name }}" value="{{ row.menuname }}"
                                  readonly class="menu_name"
                                  style="border: none; background-color: transparent; outline: none; cursor: default;">
                              </div>
                            </div>

                        

                                                    <!-- ... previous code ... -->

                        <div class="row mt-2">
                          <div class="d-flex">
                            {% if row.menuprice1 is not None %}
                            <div>
                              <label class="custom-radio">
                                <input type="radio" name="{{ buyitemform.buySize.html_name }}" value="Small" onclick="selectRadiosInDiv(this);"checked>
                                <input type="radio" name="{{ buyitemform.buyPrice.html_name }}"
                                      value="{{ row.menuprice1 }}" class="price" style="display: none;"
                                      onchange="updatePriceSizeValue(this);"checked>
                                <span class="radio-btn-style">₱{{ row.menuprice1|floatformat:2 }}</span>
                              </label>
                            </div>
                            {% endif %}
                          
                            {% if row.menuprice2 is not None %}
                            <div>
                              <label class="custom-radio">
                                <input type="radio" name="{{ buyitemform.buySize.html_name }}" value="Medium" onclick="selectRadiosInDiv(this);">
                                <input type="radio" name="{{ buyitemform.buyPrice.html_name }}"
                                      value="{{ row.menuprice2 }}" class="price" style="display: none;"
                                      onchange="updatePriceSizeValue(this);">
                                <span class="radio-btn-style">₱{{ row.menuprice2|floatformat:2 }}</span>
                              </label>
                            </div>
                            {% endif %}

                            {% if row.menuprice3 is not None %}
                            <div>
                              <label class="custom-radio">
                                <input type="radio" name="{{ buyitemform.buySize.html_name }}" value="Large" onclick="selectRadiosInDiv(this);">
                                <input type="radio" name="{{ buyitemform.buyPrice.html_name }}"
                                      value="{{ row.menuprice3 }}" class="price" style="display: none;"
                                      onchange="updatePriceSizeValue(this);">
                                <span class="radio-btn-style">₱{{ row.menuprice3|floatformat:2 }}</span>
                              </label>
                            </div>
                            {% endif %}
                          </div>
                        </div>

                        <!-- ... remaining code ... -->


                        <div class="row justify-content-start mt-3">
                          <div class="col-6">
                            <div class="input-group">
                              <button class="btn btn-secondary decrementButton" type="button">-</button>
                              <input name="{{ buyitemform.buyQuantityMenu.name }}" type="number" class="form-control short-width text-center numberInput" value="1">
                              <button class="btn btn-secondary incrementButton" type="button">+</button>
                            
                            </div>
                          </div>
                        </div>
                        
       
                           
                          </div>
                        </div>

                      </div>
                   

              
                 
                   <div class="addons-option-div">
                     <div class="d-block add-on-option mt-4">
                       <h6 class="sizetxt fw-light">Add Ons</h6>
                       <div class="d-block">
                      
                         {% if row.addons1 %}
                         <div class="form-check d-flex justify-content-between">
                           <div class="col">
                             <label for="check1">{{ row.addons1 }}</label>
                             <input class="form-check-input" name="{{ buyitemform.buyAddOns1.html_name }}"
                               type="checkbox" id="check1" value="{{ row.addons1 }}"
                               onclick="selectAllCheckboxes('check1', 'check2', 'check3', this)">
                           </div>

                           <div  style="display: none;">
                             <label for="check2">{{ row.quantityAO1 }}</label>
                             <input style="display: none;" class="form-check-input fs-6"
                               name="{{ buyitemform.buyQuantityAO1.html_name }}" type="checkbox" id="check2"
                               value="{{ row.quantityAO1 }}"
                               onclick="selectAllCheckboxes('check1', 'check2', 'check3', this)">
                           </div>
                           
                           <div class="col text-center">
                             <label for="check3">+ {{ row.menuAOPrice1 }}</label>
                             <input style="display: none;" class="form-check-input"
                               name="{{ buyitemform.menuAOPrice1.html_name }}" type="checkbox" id="check3"
                               value="{{ row.menuAOPrice1 }}"
                               onclick="selectAllCheckboxes('check1', 'check2', 'check3', this)">
                           </div>
                         </div>
                         {% endif %}

                         {% if row.addons2 %}
                         <div class="form-check d-flex justify-content-between">
                           <div class="col">
                             <label for="check4">{{ row.addons2 }}</label>
                             <input class="form-check-input" name="{{ buyitemform.buyAddOns2.html_name }}"
                               type="checkbox" id="check4" value="{{ row.addons2 }}"
                               onclick="selectAllCheckboxes('check4', 'check5', 'check6', this)">
                           </div>
                           <div  style="display: none;">
                             <label for="check5">{{ row.quantityAO2 }}</label>
                             <input style="display: none;" class="form-check-input"
                               name="{{ buyitemform.buyQuantityAO2.html_name }}" type="checkbox" id="check5"
                               value="{{ row.quantityAO2 }}"
                               onclick="selectAllCheckboxes('check4', 'check5', 'check6', this)">
                           </div>
                           <div class="col text-center">
                             <label for="check6">+ {{ row.menuAOPrice2 }}</label>
                             <input style="display: none;" class="form-check-input"
                               name="{{ buyitemform.menuAOPrice2.html_name }}" type="checkbox" id="check6"
                               value="{{ row.menuAOPrice2 }}"
                               onclick="selectAllCheckboxes('check4', 'check5', 'check6', this)">
                           </div>
                         </div>
                         {% endif %}

                         {% if row.addons3 %}
                         <div class="form-check d-flex justify-content-between">
                           <div class="col">
                             <label for="check7">{{ row.addons3 }}</label>
                             <input class="form-check-input" name="{{ buyitemform.buyAddOns3.html_name }}"
                               type="checkbox" id="check7" value="{{ row.addons3 }}"
                               onclick="selectAllCheckboxes('check7', 'check8', 'check9', this)">
                           </div>
                           <div  style="display: none;">
                             <label for="check8">{{ row.quantityAO3 }}</label>
                             <input style="display: none;" class="form-check-input"
                               name="{{ buyitemform.buyQuantityAO3.html_name }}" type="checkbox" id="check8"
                               value="{{ row.quantityAO3 }}"
                               onclick="selectAllCheckboxes('check7', 'check8', 'check9', this)">
                           </div>
                           <div class="col text-center">
                             <label for="check9">+ {{ row.menuAOPrice3 }}</label>
                             <input style="display: none;" class="form-check-input"
                               name="{{ buyitemform.menuAOPrice3.html_name }}" type="checkbox" id="check9"
                               value="{{ row.menuAOPrice3 }}"
                               onclick="selectAllCheckboxes('check7', 'check8', 'check9', this)">
                           </div>
                         </div>
                         {% endif %}

                         {% if row.addons4 %}
                         <div class="form-check d-flex justify-content-between">
                           <div class="col">
                             <label for="check10">{{ row.addons4 }}</label>
                             <input class="form-check-input" name="{{ buyitemform.buyAddOns4.html_name }}"
                               type="checkbox" id="check10" value="{{ row.addons4 }}"
                               onclick="selectAllCheckboxes('check10', 'check11', 'check12', this)">
                           </div>
                           <div  style="display: none;">
                             <label for="check11">{{ row.quantityAO4 }}</label>
                             <input style="display: none;" class="form-check-input"
                               name="{{ buyitemform.buyQuantityAO4.html_name }}" type="checkbox" id="check11"
                               value="{{ row.quantityAO4 }}"
                               onclick="selectAllCheckboxes('check10', 'check11', 'check12', this)">
                           </div>
                           <div class="col text-center">
                             <label for="check12">+ {{ row.menuAOPrice4 }}</label>
                             <input style="display: none;" class="form-check-input"
                               name="{{ buyitemform.menuAOPrice4.html_name }}" type="checkbox" id="check12"
                               value="{{ row.menuAOPrice4 }}"
                               onclick="selectAllCheckboxes('check10', 'check11', 'check12', this)">
                           </div>
                         </div>
                         {% endif %}

                         {% if row.addons5 %}
                         <div class="form-check d-flex justify-content-between">
                           <div class="col">
                             <label for="check13">{{ row.addons5 }}</label>
                             <input class="form-check-input" name="{{ buyitemform.buyAddOns5.html_name }}"
                               type="checkbox" id="check13" value="{{ row.addons5 }}"
                               onclick="selectAllCheckboxes('check13', 'check14', 'check15', this)">
                           </div>
                           <div  style="display: none;">
                             <label for="check14">{{ row.quantityAO5 }}</label>
                             <input style="display: none;" class="form-check-input"
                               name="{{ buyitemform.buyQuantityAO5.html_name }}" type="checkbox" id="check14"
                               value="{{ row.quantityAO5 }}"
                               onclick="selectAllCheckboxes('check13', 'check14', 'check15', this)">
                           </div>
                           <div class="col text-center" >
                             <label for="check15">+ {{ row.menuAOPrice5 }}</label>
                             <input style="display: none;" class="form-check-input"
                               name="{{ buyitemform.menuAOPrice5.html_name }}" type="checkbox" id="check15"
                               value="{{ row.menuAOPrice5 }}"
                               onclick="selectAllCheckboxes('check13', 'check14', 'check15', this)">
                           </div>
                         </div>
                         {% endif %}

                       </div>
                     </div>
                   </div>

                   <div class="add-to-cart col-12 d-grid mt-4">
                    <button type="submit" class="btn add-to-cart-btn"style="
                    color: white;
                    background: #FF6000;
                    border: aliceblue;
                    border-radius: 30px">
                      Add to Cart</button>
                  </div>
                 </form>
               </div>
             </div>
              {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
     
      {% endfor %}
    </div>
  
  </section>
</main>




<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  function selectAllCheckboxes(check1Id, check2Id, check3Id, sourceCheckbox) {
    var checkboxes = document.querySelectorAll('.form-check-input');

    for (var i = 0; i < checkboxes.length; i++) {
      if (
        checkboxes[i].id === check1Id ||
        checkboxes[i].id === check2Id ||
        checkboxes[i].id === check3Id
      ) {
        checkboxes[i].checked = sourceCheckbox.checked;
      }
    }
  }
</script>

<script>
  function updatePriceSizeValue(selectedRadio) {
    var priceSizeValue = selectedRadio.value;
    // Update the value of {{ buyitemform.priceSize.html_name }} with priceSizeValue
    // e.g., document.getElementById("buyitemform-priceSize").value = priceSizeValue;
  }
</script>

<script>
  function selectRadiosInDiv(clickedRadio) {
    // Get the parent div of the clicked radio button
    var parentDiv = clickedRadio.parentNode;

    // Find all radio buttons within the parent div
    var radios = parentDiv.querySelectorAll('input[type="radio"]');

    // Set the checked property of each radio button to match the clicked radio button
    for (var i = 0; i < radios.length; i++) {
      radios[i].checked = clickedRadio.checked;
    }
  }
</script>
<script>
  $(document).ready(function() {
    var suggestions = ['food', 'drinks', 'best', 'sales', 'recommend'];
  
    $('#searchInput').typeahead({
      source: suggestions
    });
  });
  </script>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Get all the increment and decrement buttons
    var decrementButtons = document.getElementsByClassName("decrementButton");
    var incrementButtons = document.getElementsByClassName("incrementButton");

    // Attach event listeners to each set of buttons
    for (var i = 0; i < decrementButtons.length; i++) {
      decrementButtons[i].addEventListener("click", decrementValue);
    }

    for (var i = 0; i < incrementButtons.length; i++) {
      incrementButtons[i].addEventListener("click", incrementValue);
    }

    // Decrement button click event
    function decrementValue() {
      var inputField = this.parentNode.querySelector(".numberInput");
      if (inputField.value > 1) {
        inputField.value = parseInt(inputField.value) - 1;
      }
    }

    // Increment button click event
    function incrementValue() {
      var inputField = this.parentNode.querySelector(".numberInput");
      inputField.value = parseInt(inputField.value) + 1;
    }
  });
</script>

<script>
function showAllMenus() {
  var menuTabs = document.querySelectorAll('.tab-pane');
  for (var i = 0; i < menuTabs.length; i++) {
    menuTabs[i].classList.add('active');
  }
}
</script>

              <!-- Add the following CSS and JS links to your HTML file -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.4/umd/popper.min.js"></script>

<style>
.circle-with-i {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  line-height: 30px;
  right: 5px;
  top: 5px;
}

.circle-with-i i {
  color: rgb(255, 255, 255); /* Replace with your desired icon color */
}

.circle-with-i .tooltip {
  visibility: hidden;
  width: 250px;
  background-color: rgba(255, 255, 255, 0); /* Change the background color to white */
  color: #333;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 14px; /* Adjust the font size to make it smaller */
}

.circle-with-i:hover .tooltip {
  visibility: visible;
  opacity: 1;
  background-color: white; /* Change the background color to white on hover */
}
</style>



{%endblock content %}